body {
	font-family: "Arial";
	font-size: 14px;
	color: #ffffff;
	background-image: url("https://raw.githubusercontent.com/KiroTheBlueFox/MoBlocksWiki/master/Images/Background.png");
	background-position: center top;
	background-attachment: fixed;
	background-repeat: repeat-x;
}

img {
	border-radius: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

h1 {
	font-size: 24px;
	font-style: normal;
}

h2 {
	font-size: 18px;
	font-style: normal;
}

h3 {
	font-size: 16px;
	font-style: normal;
}

a {
	color: #0066ff;
}

.br { 
	display: block; 
	margin-bottom: 0em; 
}

a:hover {
	color: #003388;
}
