body {
	font-family: "Arial";
	font-size: 14px;
}

h1 {
	font-size: 24px;
	font-style: normal;
}

h2 {
	font-size: 18px;
	font-style: normal;
}

h3 {
	font-size: 16px;
	font-style: normal;
}

a {
	color: #0066ff;
}

.br { 
	display: block; 
	margin-bottom: 0em; 
}

a:hover {
	color: #003388;
}
