html {
	background-image: url("https://raw.githubusercontent.com/KiroTheBlueFox/MoBlocksWiki/master/Images/Background.png");
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;
	font-family: "Arial";
	font-size: 18px;
}

.MainPart {
	color: white;
    background-image: url("../Images/dark.png");
    background-repeat: repeat;
	padding: 50px;
	padding-top: 20px;
	padding-bottom: 50px;
	max-width: 1200px;
	margin: auto;
	margin-top: 14px;
    box-shadow: 0 0 8px #00000088;
}

@media screen and (max-width: calc(5vw + 1210px)) {
	.MainPart {
		margin: calc(5vw + 10px);
		margin-top: 14px;
	}
	
	.ButtonList {
		margin-left: 5vw;
	}
}

.headbar {
    color: black;
    background-image: url("../Images/light.png");
    background-repeat: repeat;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	border: 3px solid #4488ff;
	border-radius: 15px;
}

.AdditionsList {
	font-size: 24px;
	list-style-type: none;
	width: 128px;
	margin: auto;
	margin-top: 32px;
	margin-bottom: 32px;
	border-collapse: collapse;
	border-top-style: hidden;
	border-bottom-style: hidden;
	text-align: center;
}

.AdditionsButton {
	text-decoration: none;
	font-weight: bold;
	margin-top: 32px;
}

.ButtonIcon {
	margin-left: 50px;
	margin-right: 50px;
	width: 128px;
	height: 128px;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	-moz-transition: 0.25s;
}

.ButtonIcon:hover {
	transform: scale(1.25);
}

.AdditionsList td {
	border: 3px dashed #4488ff;
}

img {
	display: block;
	margin: auto;
	width: 50%;
}

.ButtonList {
	margin: auto;
	max-width: 1320px;
	font-weight: bold;
	font-size: 24px;
}

table tr td {
	transition: 0.1s;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s;
	-moz-transition: 0.1s;
}

table tr td:active {
	background-image: url("../Images/light.png");
    background-repeat: repeat;
	color: blue;
}

.button {
	padding: 15px;
	margin: 10px;
	background-image: url("../Images/dark.png");
    background-repeat: repeat;
	color: white;
	font-style: normal;
	text-decoration: none;
	transition: 0.1s;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s;
	-moz-transition: 0.1s;
}

.buttonunused {
	padding: 15px;
	margin: 10px;
	padding-bottom: 1px;
	background-image: url("../Images/light.png");
    background-repeat: repeat;
	color: black;
	font-style: normal;
	text-decoration: none;
	position: relative;
	top: 14px;
	transition: 0.1s;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s;
	-moz-transition: 0.1s;
}

.buttoncurseforge {
	padding: 15px;
	margin: 10px;
	padding-bottom: 1px;
	background-color: #6441a4;
	color: #b5abda;
	font-style: normal;
	text-decoration: none;
	position: relative;
	top: 14px;
	transition: 0.1s;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s;
	-moz-transition: 0.1s;
}

.button:hover {
	color: #444;
}

.buttonunused:hover {
	color: #444;
	top: 0px;
	padding-bottom: 15px;
}

.buttoncurseforge:hover {
	color: #fff;
	top: 0px;
	padding-bottom: 15px;
}

.button:active, .buttonunused:active {
	color: #444;
	background-color: lightgray;
}

.buttoncurseforge:active {
	color: #fff;
	background-color: #784ec4;
}

h1 {
	font-size: 30px;
	font-weight: heavy;
}

h2 {
	font-size: 26px;
	font-weight: normal;
}

h3 {
	font-size: 22px;
	font-weight: normal;
}

a {
	color: #0066ff;
}

.br { 
	display: block; 
	margin-bottom: 0em; 
}

a:hover {
	color: #0033bb;
}